<%= form_with(model: tipodocumento, local: true) do |form| %>
  <% if tipodocumento.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(tipodocumento.errors.count, "error") %> prohibited this tipodocumento from being saved:
      </h2>

      <ul>
        <% tipodocumento.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>
      <div class="container">
        <div class="row">
          <div class="col s3"></div>
          <div class="col s6">
            <div class="field">
              <%= form.label :descripcion %>
                <%= form.text_field :descripcion %>
            </div>

            <div class="btn waves-effect waves-light">
              <%= form.submit "Guardar" %>
            </div>
            <% end %>
          </div>
          <div class="col s3"></div>
        </div>
      </div>