<nav>
    <div class="nav-wrapper">
      <%= link_to "Editar tipo de documento", edit_tipodocumento_path(@tipodocumento), class:"brand-logo center" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
              <% if usuario_actual %>
                  <h5><%= link_to "Cerrar sesión", "/cerrarSesion" %></h5>
              <% end %>
          </li>
      </ul>
    </div>
</nav>

<%= render 'form', tipodocumento: @tipodocumento %>


<div class="fixed-action-btn">
    <%= link_to '<i class="large material-icons">build</i>'.html_safe, "", class:"btn-floating btn-large red" %>
  <ul>
    <li>
        <%= link_to '<i class="large material-icons">visibility</i>'.html_safe, @tipodocumento, class:"btn-floating btn-large red" %>
    </li>
    <li>
        <%= link_to '<i class="large material-icons">arrow_back</i>'.html_safe, tipodocumentos_path, class:"btn-floating btn-large red" %>
    </li>
  </ul>
</div>
