<%= form_with(model: comentario, local: true) do |form| %>
<% if comentario.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

  <ul>
    <% comentario.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<% if usuario_actual.rol.descripcion == "s_admin"%>
  <div class="input-field">
    <%= form.label :Transferir_a, {}, {:class => "arriba"} %>
    <%= form.select :dependencium_id, Usuario.where(dependencium:Dependencium.where(id:params[:idNuevaDependencia])).where.not(rol:Rol.where(descripcion:"esclavoDependencia")).collect{ |a| [ a.nombre, a.id] }, {}, {:class => 'browser-default'} %>
  </div>
<% end %>

<%if usuario_actual.rol.descripcion == "jefeDependencia"%>
  
  <%if params[:idNuevaDependencia] == "1" %>
    <div class="input-field">
      <%= form.label :Transferir_a, {}, {:class => "arriba"} %>
      <%= form.select :dependencium_id, Usuario.where(dependencium:Dependencium.where(descripcion:"Director")).collect{ |a| [ a.nombre + " " + a.dependencium.descripcion, a.id] }, {}, {:class => 'browser-default'} %>
    </div>
  <%else%>
    <div class="input-field">
      <%= form.label :Transferir_a, {}, {:class => "arriba"} %>
      <%= form.select :dependencium_id, Usuario.where.not(rol:Rol.where(descripcion:"jefeDependencia")).where.not(dependencium:Dependencium.where(descripcion:"usuarioNormal")).where(dependencium:usuario_actual.dependencium).collect{ |a| [ a.nombre + " " + a.dependencium.descripcion, a.id] }, {}, {:class => 'browser-default'} %>
    </div>
  <%end%>
<% end %>

<%if usuario_actual.rol.descripcion == "esclavoDependencia"%>
  <div class="input-field">
    <%= form.label :Transferir_a, {}, {:class => "arriba"} %>
    <%= form.select :dependencium_id, Usuario.where(dependencium:Dependencium.where(id:params[:idNuevaDependencia])).where.not(rol:Rol.where(descripcion:"esclavoDependencia")).collect{ |a| [ a.nombre, a.id] }, {}, {:class => 'browser-default'} %>
  </div>
<% end %>


<div class="field">
  <%= form.label :comentario %>
  <%= form.text_field :comentario, value:"Soy un comentario" %>
</div>

<% if false %>

<div class="field">
  <%= form.label :fecha %>
  <%= form.text_field :fecha, {:class => 'datepicker'} %>
</div>

<div class="field">
  <%= form.label :depactual %>
  <%= form.text_field :depactual %>
</div>

<div class="field">
  <%= form.label :depanterior %>
  <%= form.text_field :depanterior %>
</div>

<div class="field">
  <%= form.label :pqr_id %>
  <%= form.text_field :pqr_id %>
</div>

<% end %>

<div class="actions">
  <%= form.submit "Enviar", {id:"enviar"} %>
</div>

<div class="field" hidden>
  <%= form.label :depactual %>
  <%= form.text_field :depactual, value: params[:idNuevaDependencia] %>
</div>

<div class="field" hidden>
  <%= form.label :pqr_id %>
  <%= form.text_field :pqr_id, value: params[:idPqr] %>
</div>

<div class="field" hidden>
  <%= form.label :depanterior %>
  <%= form.text_field :depanterior, value: Pqr.find(params[:idPqr]).dependencium.id %>
</div>

<% end %>


<%= javascript_tag do %>
  let transferir = document.getElementById("enviar");
  let select = document.getElementById("comentario_dependencium_id");
  transferir.addEventListener("click", (e)=>{

    e.preventDefault();
    let notificacion = [{
      mensaje: '<%= usuario_actual.nombre %>' + " Te ha transferido un pqr"
    }];
    if(window.localStorage.getItem(select.value)){
      let notificaciones = JSON.parse(window.localStorage.getItem(select.value));
      notificaciones.push(notificacion[0]);
      window.localStorage.setItem(select.value, JSON.stringify(notificaciones));
    }else{
      window.localStorage.setItem(select.value, JSON.stringify(notificacion));
    }
    console.log(JSON.parse(window.localStorage.getItem(select.value)));

  });
<% end %>