<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @comentario.fecha.strftime("%d de %B del %Y") %>
</p>

<p>
  Ha transferido el Pqr a <b><%= Dependencium.find(@comentario.depactual).descripcion %></b>
  con el comentario <b><%= @comentario.comentario %></b>
</p>

<%= link_to 'Volver a los pqr', pqrs_path %>
