<p id="notice"><%= notice %></p>

<p>
  <strong>Mensaje:</strong>
  <%= @notification.mensaje %>
</p>

<p>
  <strong>Idusuario:</strong>
  <%= @notification.idUsuario %>
</p>

<p>
  <strong>Leida:</strong>
  <%= @notification.leida %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
