<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @pqr.fecha.strftime("%d de %B del %Y") %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @pqr.descripcion %>
</p>

<p>
  <strong>Archivo:</strong>
  <a href="/<%= @pqr.archivo %>" target="_blank" >Archivo</a>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pqr.estado %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @pqr.usuario.nombre %>
</p>

<p>
  <strong>Dependencium:</strong>
  <%= @pqr.dependencium.descripcion %>
</p>

<p>
  <strong>Respuesta:</strong>
  <%= @pqr.respuesta %>
</p>

<% if usuario_actual.dependencium == @pqr.dependencium %>
  <%= form_with(model: @pqr, local: true, multipart: true) do |form| %>
    <div class="input-field">
      <%= form.label :Transferir_a, {}, {:class => "arriba"} %>
      <%= form.select :dependencium_id, Dependencium.where.not(descripcion:"Director").where.not(descripcion:"usuarioNormal").collect{ |a| [ a.descripcion, a.id] }, {}, {:class => 'browser-default'} %>
    </div>
    <div class="btn waves-effect waves-light">
      <%= form.submit "Transferir" %>
    </div>
  <% end %>
<% end %>

<div class="fixed-action-btn">
    <%= link_to '<i class="large material-icons">build</i>'.html_safe, "", class:"btn-floating btn-large red" %>
  <ul>
    <li>
        <%= link_to '<i class="large material-icons">mode_edit</i>'.html_safe, edit_pqr_path(@pqr), class:"btn-floating btn-large red" %>
    </li>
    <li>
        <%= link_to '<i class="large material-icons">arrow_back</i>'.html_safe, pqrs_path, class:"btn-floating btn-large red" %>
    </li>
  </ul>
</div>